@import url('https://fonts.googleapis.com/css2?family=Liter&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');
@import "tailwindcss";



*{
    font-family: Outfit;
}


button{
    background: #e89755;
    padding: 8px;
    border-radius: 17px;
    color: white;
    width: 160px;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
button:hover{
    background: #c47331;
}
.cl-internal-deplva{
    width: 100% !important;
}
